:root {
    --url: url('');
}

.fullBG {
    @apply absolute p-4;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-image: linear-gradient(0deg,
        config('colors.red-dark') 0%,
        config('colors.red') 100%);

    & footer {
        margin-top: auto;
    }
}

.fullBG--home {
    background-image: linear-gradient(0deg,
        config('colors.red-dark') 0%,
        config('colors.red') 100%),
        var(--url);

    & footer>* {
        @apply p-2;
    }

    & .selectDiv {
        @apply pr-0;
    }

    & .selectDiv::after {
        top: 1rem !important;
    }

    & footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        & :first-child {
            justify-self: start;
        }

        & :last-child {
            justify-self: end;
        }
    }

    & footer.score {
        grid-template-columns: 1fr 1fr 1fr;
    }
}