.gameUI {
    & header {
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        background: #fff;
    }

    & header button {
        @apply p-4;
        background: none;
        border: none;
        font-size: 1em;
    }

    & header *:nth-child(1) {
        justify-self: start;
    }

    & header *:nth-child(3) {
        justify-self: end;
    }

    & footer {
        @apply p-4;
        box-sizing: border-box;
    }

    /* Background */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* If you need to support browser without CSS var support (<= IE11) */
    height: calc(100vh - var(--vh-offset, 0px));
    /* enable vh fix */
    overflow: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
}

.gameUI--scroll {
    overflow: auto;
    height: auto;

    & header {
        position: fixed;
    }

    & main {
        @apply pt-12;
    }
}

.wrapperImg {
    position: relative;
    flex-basis: 100%;
    z-index: 4;
    margin: auto;
    width: 100%;
}

.imgDesc,
.imgRights {
    @apply font-serif pl-4 pr-4;
}

.imgRights {
    @apply pt-4 pb-4;
    color: #5d5d5d;
    font-size: 0.8em;
}

.imgDesc {
    @apply flex;
    color: #000;
    font-size: 1em;
}

.imgDesc time {
    @apply pr-2;
    font-weight: bold;
}

/* For portrait images */
.dragImg,
.backgroundImg,
.imageFit {
    max-height: 50vh;
    width: 100%;
    object-fit: contain;
}