.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

 {
  opacity: 0;
}

.fadeFrom0 {
  @apply opacity-0;
  transition: all 100ms;
}

.fadeFrom0--active {
  @apply opacity-100;
}

.fadeFrom100 {
  @apply opacity-100;
  transition: all 100ms;
}

.fadeFrom100--active {
  @apply opacity-0;
}
